.div-main {
    width: 96%;
}

.no-display{
    display:none;
}

h1, h2, h3, h4 {
    margin: 0 0 0 0;
}

.div-title {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height:5vw;
}

.div-basic-info {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom:1vw;
    font-size:2vw;
}

button {
    height: 3vw;
    font-size: 1.8vw;
    font-family: Nunito;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 3vw;
}

.span-basic-info{
    margin-right:2vw;
}

.div-outputs {
    display: flex;
    flex-direction: row;
}

.div-output-column {
    width: 33%;
    height: 50vw;
    padding: 0 2vw 0 0;
    overflow-y: scroll;
    height: 35vw;
}

textarea{
    width:98%;
    height:70%;
    font-size:1.2vw;
    font-family:Nunito;
}

.div-wmp{
    margin:1vw 0 0 0;

}

.p-word, .p-translated-text {
    font-size: 1.6vw;
    margin-bottom: 0;
    display: inline;
}

.icon-for-edit {
    width: 1.5vw;
    display: inline;
    margin-left: 1vw;
    vertical-align: middle;
    display:none;
}

.icon-star {
    display: inline;
    width: 1.5vw;
}

.div-each-alt{
    display:flex;
    flex-direction:row;
}

.p-alternative-meaning{
    display:flex;
    flex-direction:row;
    margin: 0 0 0 2vw;
}

.input-word,.input-translated-text, .input-alternative-meaning {
    border-radius: 3px;
    margin-bottom: 0.5vw;
    height: 1.5vw;
    font-size: 1.2vw;
    width: 8vw;
}

.input-word {
    height: 1.8vw;
    font-size: 1.5vw;
    font-weight: bold;
    font-family:Nunito;
}

.input-alternative-meaning {
    display: block;
}

/*from here down is for comments*/

.div-comments-helps{
    display:flex;
    flex-direction:row;
}

.div-comments,.div-helps{
    margin-right:3vw;
    width:48%;
    display:flex;
    flex-direction:column;
}

.textarea-comment-help {
    height: 5vw;
}

.button-comment-help {
    margin-left: auto;
    font-size: 1.2vw;
    height: 2vw;
}

.span-date-time{
    font-size:1vw;
}

