.main-div {
    width:94%;
}

.div-video {
    display: flex;
    flex-direction: column;
}

.input-video-url{
    width:500px;
}

.big-input {
    width: 600px;
    height: 300px;
    font-size: 20px;
}

h2 {
    height:3vw;
    margin:0 0 0 0;
}

.input-text{
    display: block;
}

.language-selection {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.choose-language {
    display: flex;
    flex-direction: column;
}

.div-result-title{
    display:flex;
    flex-direction:row;
    margin: 0.5vw 0 0.5vw 0;
}

.button-save{
    margin-left:3vw;
    width:22vw;
    font-size:1.6vw;
}

.output-field {
    display: flex;
    height: 0.1vw;
}

.output-field div {
    width:33%;
    height:10vw;
    padding:0 2vw 0 0 ;
}

.output-field h4{
    margin:0 0 0 0;
}

.span-warning-message {
    color: red;
    font-size:2vw;
}

.ul-alternatives{
    margin:0;
}

.p-word-meaning{
    margin-bottom:0;
}