@page
@model Taccolo.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
@{
    Layout = "_taccoloLayout";
}
@section Styles {
    <link rel="stylesheet" href="/css/page-specific/StaticPages.css" />
    <link rel="stylesheet" href="/css/page-specific/Contact.css" />
}

<div class="div-main">
    <div class="div-about">
        <h1 class="h1-title h1-title-contact">
            Contact Information
        </h1>
        <p class="p-contact-info">
            To contact the administrator about any issues or requests for more features,
        </p>
        <p class="p-contact-info">
            please send an email to <strong>admin[atmark]taccolo.com</strong>
        </p>
    </div>
</div>