@page
@model Taccolo.Pages.HowToUseModel
@{
    ViewData["Title"] = "How to Use";
}
@{
    Layout = "_taccoloLayout";
}
@section Styles {
    <link rel="stylesheet" href="/css/page-specific/StaticPages.css" />
    <link rel="stylesheet" href="/css/page-specific/HowToUse.css" />
}

<div class="div-main">
    <div class="div-how-to-use">
        <h1 class="h1-title h1-title-how-to-use">
            How to Use Taccolo
        </h1>
        <p class="p-about-taccolo">
            Please watch this video! :)
        </p>
        <iframe width="921" height="518" src="https://www.youtube.com/embed/VgYLoxk3LS4" title="What is Taccolo and How to Use Taccolo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
</div>