.main-div {
    width:94%;
}

.li-make-new{
    font-weight:bold;
}

.div-video {
    display: flex;
    flex-direction: column;
}

.input-video-url {
    width: 500px;
    border-radius: 5px;
    height:2vw;
}

input,textarea{
    font-size:1.2vw;
}

.big-input {
    width: 40vw;
    height: 20vw;
    font-size: 1.3vw;
    border-radius:5px;
}

h1, h2, h3, h4{
    margin:0 0 0 0;
}

.div-margin-bottom{
    margin-bottom:0.8vw;
}

.button-and-select {
    /*height: 1.8vw;*/
    font-size: 1.1vw;
    font-family: Nunito;
    cursor: pointer;
}

/*button,select {
    height: 1.8vw;
    font-size: 1.1vw;
    font-family: Nunito;
    cursor: pointer;
}*/

.input-text{
    display: block;
}

.language-selection {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.choose-language {
    display: flex;
    flex-direction: column;
}

.input-title{
    width:35vw;
    height:2vw;
    border-radius:5px;
}

.div-result-title {
    display: flex;
    flex-direction: row;
    margin: 0.5vw 0 0.5vw 0;
}

.button-save{
    margin-left:3vw;
    width:22vw;
    font-size:1.6vw;
    height:3vw;
}

.button-save-login {
    margin-left: 3vw;
    width: 30vw;
    font-size: 1.6vw;
    height: 3vw;
}


.output-field {
    display: flex;
    height: 0.1vw;
}

.output-field div {
    width:33%;
    height:10vw;
    padding:0 2vw 0 0 ;
}

.output-field h4{
    margin:0 0 0 0;
}

.span-warning-message {
    color: red;
    font-size:2vw;
}

.p-note-lower{
    margin:0;
    font-size:1vw;
}

.ul-alternatives {
    margin: 0;
}

.p-word-meaning{
    margin-bottom:0;
}