body {
}

.div-main{
    display:flex;
    flex-direction:column;
    margin-top:1vw;
}

button, select {
    height: 1.8vw;
    font-size: 1.4vw;
    font-family: Nunito;
    cursor: pointer;
    background-color:white;
    border-radius:10px;
    height:2.5vw;
}

.input-narrow-search {
    width: 20vw;
    height: 2.5vw;
    border: none;
    border-bottom:solid;
    /*border-radius: 100px;*/
    margin: 0; /* Reset any browser-specific margin */
    vertical-align: middle; /* Aligns the input field inline with the image */
    font-size: 1.2vw;
    padding: 0 1vw 0 1vw;
}

.div-language-selection {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left:6vw;
}

.div-learning-sets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vw;
}

.div-each-ls {
    width: 25vw;
    height: 18vw;
    margin: 0 2% 2% 0;
    /*display: flex;*/
    flex-direction: column;
}

.div-h2-picture {
    width: 100%;
    height: 70%;
    border: solid;
    padding: 2% 2% 2% 2%;
    box-sizing: border-box;
    overflow: hidden;
}

.h2-first-words{
    margin:0;
}

.h3-title {
    margin: 1vw 0 0;
}

.a-each-ls {
    width: 25vw;
    margin: 0 2% 4% 0;
    display: flex;
    flex-direction: column;
}

span {
    display:inline;
}