body {
}

.h2-instruction {
    margin: 0;
}

.div-mypage-item {
    display: flex;
    flex-direction: row;
    width: 40%;
    min-height: 2.5vw;
    margin-top: 1.5vw;
}

.div-mypage-key {
    margin-right: 1vw;
    width: 30%;
}

.p-mypage-value, .p-mypage-key, .p-language {
    margin: 0;
}
