@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
@{
    Layout = "_LoginRegisterLayout";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p class="p-explanation">Something went wrong, sorry about that. The issue can be one of the following:</p>
<ul>
    <li>You entered URL within this website that doesn't really exist</li>
    <li>You entered or changed the ID of Learning Set in the URL but the LearningSet with the ID doesn't exist</li>
</ul>
<p class="p-explanation">If the cause is not clear and you need resolution, please contact the admin.</p>
