@page
@model Bachelor_Thesis_Takumi_Saito.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["PageSpecificCss"] = "/css/page-specific/top.css";
}
@{
    Layout = "_taccoloLayout";
}

<div class="div-top-all">
    <p>TEST</p>
</div>
