@page
@using Taccolo.Areas.Identity.Pages.Account
@model ChangePasswordCompleteModel
@{
    ViewData["Title"] = "ChangePasswordComplete";
}
@{
    Layout = "/Pages/Shared/_LoginRegisterLayout.cshtml";
}

<h2 class="h2-instruction">Password has been changed successfully.
    <br />You can go to home from <a class="a-explicit-link" href="/">here.</a>
</h2>