@page
@using Taccolo.Areas.Identity.Pages.Account
@model ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}
@{
    Layout = "/Pages/Shared/_LoginRegisterLayout.cshtml";
}

<div class="row">
    <h2 class="h2-instruction">You can change your password here</h2>
    <form method="post" class="form-change-password">
        <div class="form-floating mb-3">
            <label class="form-label" asp-for="Input.CurrentPassword">Current Password</label>
            <input asp-for="Input.CurrentPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <div class="div-confirm-error">
                <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-floating mb-3">
            <label class="form-label" asp-for="Input.NewPassword">New Password</label>
            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <div class="div-confirm-error">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-floating mb-3">
            <label class="form-label" asp-for="Input.ConfirmNewPassword">Confirm New Password</label>
            <input asp-for="Input.ConfirmNewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <div class="div-confirm-error">
                <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger"></span>
            </div>
        </div>

        <button type="submit">submit</button>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    </form>
    <div class="div-password-guide">
        <p class="p-password-guide">
            *All fields are required.<br />
            Please use a password that contains the following:<br />
            - at least 6 and maximum 100 characters<br />
            - at least one non-alphanumeric character<br />
            - at least one lowercase ('a'-'z') alphabet<br />
            - at least one uppercase ('A'-'Z') alphabet<br />
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}