@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "ConfirmEmail";
}
@{
    Layout = "/Pages/Shared/_LoginRegisterLayout.cshtml";
}

<div class="div-confirm-message">
    <h2 class="h2-confirm-message">Email has been sent to verify your email :) </h2>
    <p class="p-complete-message">
        Please confirm your email inbox (check spam too).
    </p>
</div>