@page
@model Taccolo.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}
@{
    Layout = "/Pages/Shared/_LoginRegisterLayout.cshtml";
}
<div class="row">
    <h2 class="h2-instruction">You can reset password by email verification</h2>
    <form id="account" method="post">
        <div class="form-floating mb-3">
            <label asp-for="Input.Email" class="form-label">Email</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button id="email-submit" type="submit" class="button-email button-submit">Submit</button>
    </form>
</div>
<p>@Html.Raw(Model.SentMessage)</p>