@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@{
    Layout = "/Pages/Shared/_LoginRegisterLayout.cshtml";
}

<h1 class="h1-title">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account with username, email and password</h2>
            <div class="form-floating mb-3">
                <label class="form-label" asp-for="Input.UserName">Username (can be changed later)</label>
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="awesome-name" />
                <div class="div-confirm-error">
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <label class="form-label" asp-for="Input.Slug">Slug (codename of user, must be unique, internal purpose only)</label>
                <div class="div-slug-check">
                    <input asp-for="Input.Slug" id="input-slug" class="form-control" aria-required="true" placeholder="can be same as username" />
                    <button class="button-check-slug" id="button-check-slug">check if slug is not taken</button>
                </div>
                <span id="span-slug-check-result" class="span-slug-check-result"></span>

            </div>
            <div class="form-floating mb-3">
                <label class="form-label" asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <div class="div-confirm-error">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <label class="form-label" asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <div class="div-confirm-error">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <label class="form-label" asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <div class="div-confirm-error">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="button-register button-submit">Register</button>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="div-password-guide">
                <p class="p-password-guide">
                    *All fields are required.<br />
                    Please use a password that contains the following:<br />
                    - at least 6 and maximum 100 characters<br />
                    - at least one non-alphanumeric character<br />
                    - at least one lowercase ('a'-'z') alphabet<br />
                    - at least one uppercase ('A'-'Z') alphabet<br />
                </p>
            </div>
        </form>
    </div>
</div>
<script src="~/js/register.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
