<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b19203ec-1ad1-47e6-a48d-a9a3f3f8b219/resourceGroups/TakumiBachelorProject/providers/Microsoft.Web/sites/Taccolo</ResourceId>
    <ResourceGroup>TakumiBachelorProject</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://taccolo-ddemgjbzbrg9ahhz.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8411f552-ce27-4b6f-8952-ab2df69b36f2</ProjectGuid>
    <MSDeployServiceURL>taccolo-ddemgjbzbrg9ahhz.scm.westeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Taccolo</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAh1L0qdZqdUWjYCDefrxoxQAAAAACAAAAAAAQZgAAAAEAACAAAABPl06IhuOdBS2cJw8qtP1sWuQq1JE+HDkIo10Y8TzcCgAAAAAOgAAAAAIAACAAAAD6Z4l98z5+UohDscqpIxz+g1732yWpzhGgaxt9j3oydSAAAABPbDQXcIMFeO8OekDgnMGLzY/FnF/orXqKNgjDibYPKkAAAAANLiZ04g6ESuwCI9se3ld+oNunR8zNNi2I0krWms0AkDPde+6BlP73Zv+cBz6kATDHW4vEFkzPPLlkTdXy9gWR</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>