@page
@using Bachelor_Thesis_Takumi_Saito.Areas.Identity.Pages.Account
@model ChangePasswordModel
@{
    Layout = "/Pages/Shared/_LoginRegisterLayout.cshtml";
}

<h2 class="h2-instruction">You can change your password here</h2>
<div class="form-floating mb-3">
    <label class="form-label" asp-for="Input.CurrentPassword">Current Password</label>
    <input asp-for="Input.CurrentPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
    <div class="div-confirm-error">
        <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
    </div>
</div>
<div class="form-floating mb-3">
    <label class="form-label" asp-for="Input.NewPassword">New Password</label>
    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
    <div class="div-confirm-error">
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
</div>
<div class="form-floating mb-3">
    <label class="form-label" asp-for="Input.ConfirmNewPassword">Confirm New Password</label>
    <input asp-for="Input.ConfirmNewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
    <div class="div-confirm-error">
        <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger"></span>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}