@page
@using Bachelor_Thesis_Takumi_Saito.Areas.Identity.Pages.Account
@model MyPageModel
@{
    Layout = "/Pages/Shared/_LoginRegisterLayout.cshtml";
}

<h2 class="h2">You can edit your information here</h2>
<div class="row">
    <div class="col-md-4">

    </div>
</div>
