@page
@model RegistrationCompleteModel
@{
    ViewData["Title"] = "RegistrationComplete";
}
@{
    Layout = "/Pages/Shared/_LoginRegisterLayout.cshtml";
}

<div class="div-complete-message">
    <h2 class="h2-complete-message">Thank you, registration is complete :) </h2>
    <p class="p-complete-message">You can add more details in your account from <a class="a-explicit-link" href="#">here</a>,<br />
        or you can go back to top and start using taccolo from <a class="a-explicit-link" href="/">here</a>
    </p>
</div>