<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login-Register</title>
    <link rel="stylesheet" href="~/css/login-register-layout.css?v=1.0" />
    @if (ViewData["PageSpecificCss"] != null)
    {
        <link rel="stylesheet" href="@ViewData["PageSpecificCss"]">
    }
    @* for Select2 multiple-select UI *@
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <script src="https://kit.fontawesome.com/ea07c1c07f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="div-top">
            <div class="div-logo div-in-header">
                <a href="/">
                <h1 class="h1-logo">taccolo</h1>
                </a>
            </div>
        </div>
    </header>
    <div class="div-level2">
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
